@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?gwodxt');
    src: url('fonts/icomoon.eot?gwodxt#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?gwodxt') format('truetype'), url('fonts/icomoon.woff?gwodxt') format('woff'), url('fonts/icomoon.svg?gwodxt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iicon-"],
[class*=" iicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iicon-flower:before {
    content: "\e900";
}

.iicon-civic:before {
    content: "\e901";
}

.iicon-community:before {
    content: "\e902";
}

.iicon-regulatory:before {
    content: "\e903";
}